.clear-both::after {
	content: "";
	clear: both;
	display: table;
}

.align-right {
	text-align: right;
}

.wrapper {
	padding: 25px;
}

.table {
	color: #6c6c6c;
}

.table td {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.default-bootstrap-form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143 !important;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.section-header {
	text-align: left;
	display: inline-block;
	cursor: pointer;
	color: #505050 !important;
}

.section-header:hover {
	color: #000000 !important;
}

.section-header>i {
	font-size: 34px;
	margin-right: 20px;
}

.account-container h5 {
	font-size: 16px;
}

.account-container .btn {
	background-color: #4059b3;
	color: white;
	border-radius: 2px;
}

.account-container .btn:hover {
	background-color: #00196f;
	color: white;
	border-radius: 2px;
}

.account-container span, .account-container label {
	color: #6c6c6c;
}

.desibank-primary-btn {
	color: #FFFFFF;
	background: #ffb900 !important;
	border: 2px solid #ffb900;
	text-transform: uppercase;
	padding: .2em 1em;
	font-size: 1.3em;
	font-family: 'Ropa Sans', sans-serif;
}

.desibank-primary-btn:hover {
	color: #000000 !important;
}

.account-detail__table tr:nth-child(even) {
	background-color: #f8f8f8;
}

.account-detail__table td:first-child {
	padding-left: 3em;
}

.account-detail__table td:nth-child(2) {
	padding-right: 3em;
	text-align: right;
}

.account-detail__table .table {
	margin-top: 20px;
}

.account-detail__title {
	margin: 30px 0;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding: 15px 25px;
	border-left: 7px solid #ffb900;
}

.account-detail__title__icon {
	font-size: 40px;
	color: #8a8a8a;
	margin-top: 12px;
	margin-right: 15px !important;
}

.account-detail__title__account-type {
	font-size: 30px;
	color: #ffb900;
}

.account-detail__title__account-no {
	color: #9b9b9b;
}

.account-detail__title__av-balance-val {
	font-size: 30px;
	color: #6c6c6c;
}

.account-detail__title__av-balance-lbl {
	color: #9b9b9b;
}

.account-detail__title .pull-right {
	text-align: right;
}

.account-transactions {
	margin-top: 50px;
}

.account-transactions__filter-btn, .account-transactions__report-btn {
	margin-top: 8px;
}

.account-transactions__filter-btn {
	margin-right: 6px;
}

.account-transactions__report-btn .caret {
	color: #ffffff;
	margin-left: 4px;
}

.account-transactions__report-list {
	background-color: #4059b3;
	color: #ffffff;
}

.account-transactions__report-list>li {
	padding: 5px 15px;
}

.account-transactions__report-list>li>i {
	margin-right: 10px;
}

.account-transactions__report-list>li:hover {
	background-color: #00196f;
	cursor: pointer;
}

.account-transactions__filter-controller {
	display: none;
	padding: 25px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	margin-bottom: 20px;
}

.account-transactions__filter-controller .row:first-child {
	margin-bottom: 20px;
}

.account-transactions__table__amount--credit,
	.account-transactions__table__amount--debit {
	width: 160px;
	text-align: right;
	padding-right: 25px !important;
}

.account-transactions__table__amount--credit {
	color: #0b7d0b;
}

.account-transactions__table__amount--debit {
	color: #9e0e0e;
}

.account-transactions__table__date {
	width: 160px;
}

.account-transactions__table th:first-child {
	text-align: left;
}

.account-transactions__table th {
	text-align: center;
}

.account-transactions__table {
	text-align: left;
}

.account-transactions__table tr:nth-child(even) {
	background-color: #f8f8f8;
}

.desibak-pagination {
	font-size: 16px;
}

.desibak-pagination .btn {
	font-size: 16px;
}

.desibak-pagination__controller {
	text-align: right;
}

.desibak-pagination__controller__prev-btn {
	margin-right: 2px;
}

.alert-modal {
	z-index: 9999;
}

.alert-modal .modal-title {
	font-size: 1.25em;
}

.alert-modal .modal-body {
	font-size: 16px;
	margin: 20px;
}

.desibak-pagination__label span {
	text-transform: none;
}