<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
  
<body>
<!-- #{}for reading from properties file -->
<!-- ${} for reading from variable -->
      <span th:text="#{customer_save_email.gretting(${name})}"></span>,
      	 <br/>	    
      <span>Sorry, Your credit card application for </span> <span style="color: blue;" th:text="${cardType}"></span> <span> is rejected.</span> 	
	<br/>
   	 Reference number:
   	   <p th:text="${appNo}"></p>
   	 
   	 Reason:
	<p style="color:orange;" th:text="${rejectionMessage}"></p>
		
   	  <p>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 Mobile :<span style="color:black;"  th:text="${mobile}"></span>
   	 </p>
   	 	  <img th:src="|cid:bankIcon.png|" />
    
</body>
</html>