<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
  
<body>
<!-- #{}for reading from properties file -->
<!-- ${} for reading from variable -->
      <span th:text="#{customer_save_email.gretting(${name})}"></span>,
      	 <br/>	    
      <span>Congratulation, Your credit card application for </span> <p style="color: blue;" th:text="${cardType}"></p> <span> has been approved.</span> 	
 
  
   	 Your application ref number is :
   	   <p th:text="${appNo}"></p>
   	 <br/>	    	
	 Your credit card front and back side images are below:
	 <br/>
	 <img th:src="|cid:cardFrontImageAttachment|" />
	 <br/>
	  <img th:src="|cid:cardBackImageAttachment|" />

	 
	 <br/>
	 We will mail you the credit card in 3 business day.
		
   	  <p>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 Mobile :<span style="color:black;"  th:text="${mobile}"></span>
   	 </p>
   	 	  	 <br/>
	 <img th:src="|cid:bankIcon|" />
    
</body>
</html>