<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
  
<body>
<!-- #{}for reading from properties file -->
<!-- ${} for reading from variable -->
      <span th:text="#{customer_save_email.gretting(${name})}"></span>,
      	 <br/>	    
       <p style="color: blue;" th:text="#{apply_creditcard.confirmMsg(${cardType})}"></p>  	
   	 Your application ref number is :
   	   <p th:text="${appNo}"></p>
   	 <br/>	    	
   	   <p>	   	
   	 We will evaluate your application and inform you the application result through your email in 3-5 business days.
   	 </p>
   	  <p>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 Mobile :<span style="color:black;"  th:text="${mobile}"></span>
   	 </p>
   	 	  <img th:src="|cid:${bankIcon}|" />
    
</body>
</html>