<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
<body>
	  <p>	   	
      Dear <span th:text="${cname}"></span>,
      </p>
      
       <p  style="color: blue;">	   	
   	 You have registered as an employee successfully with the bank.
   	 </p>
   	    <br/>	    	
   	   <p>	   	
   	 Please click on below link to  complete your employee login and profile......
   	 </p>
   	   <p th:text="${registrationlink}">	  
   	   <a th:href="@{${registrationlink}}"> </a>	
   	 </p>
   	 <br/>	    	
   	  <p>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 <span style="color:black;">Mobile : +10292982929229</span>
   	 <br/>
  	 <br/>
   	 <span style="color:black;">Email : <span th:text="${bankemail}"></span></span>
   	 </p>
   	<img th:src="|cid:bankIcon|" />
    
</body>
</html>