<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
			p{
				width: 70%;
				font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans';font-size: 16px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 26.4px;
			}
	</style>
</head>
  
<body>
	  <p>	   	
      Dear<span th:text="${account.name}"></span>,
      </p>
       <p  style="color: green;">	   	
   	 Congratulation! Your account has been created successfully in our bank.
   	 </p>
   	   <p>	   	
   	 Your application ref number was : <span "${$account.appRef}"></span>.<br/>
   	 Below is your account summary:
   	
   	 <table border="1" style="width: 70%;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans';font-size: 14px;font-style: normal;	font-variant: normal;font-weight: 500;line-height: 24.4px;">
		<tr style="background-color: #1e2a7b;color:white;">
			<td>&nbsp;</td>
					<td>&nbsp;A/C Number</td>
					<td>&nbsp;A/C Type</td>
					<td>&nbsp;Avg Balance</td>
					<td>&nbsp;Branch</td>
				<td>&nbsp;Currency</td>
				<td>&nbsp;Userid</td>
		</tr>
		
			<tr style="background-color: #b6fffe;color:black;">
			<td>&nbsp;</td>
					<td>&nbsp;<span th:text="${account.account}"></span></td>
					<td>&nbsp;<span th:text="${account.type}"></span></td>
					<td>&nbsp;<span th:text="${account.avgbalance}"></span></td>
					<td>&nbsp;<span th:text="${account.branch}"></span></td>
				<td>&nbsp;<span th:text="${account.currency}"></span></td>
				<td>&nbsp;<span th:text="${account.userid}"></span></td>
		</tr>
	
		
		<tr>
			<td colspan="7">__________________</td>
		</tr>
</table>

   	 <br/>    	
   	   <p>	   	
   	 We will get back to you shortly.
   	 </p>
   	  <p>	 
   	 Thanks & Regards,
   	 <br/>DesiBank Admin
   	 <br/>
   	 <span style="color:black;">Email : <b th:text="${account.bankEmail}"></b></span>
   	 <br/>
   	 <span style="color:black;">Mobile : +10292982929229</span>
   	 </p>
   	  <img th:src="|cid:bankIcon|" />
    
</body>
</html>