<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
  
<body>

	  <p>	   	
      Dear <span th:text="${cname}"></span>,
      </p>
      
       <p  style="color: blue;">	   	
   	Someone, hopefully you, has requested to reset the password for your Desibank account
   	 </p>
   	    <br/>	    	
   	   <p>	   	
   	If you did not perform this request, you can safely ignore this email.
Otherwise, click the link below to complete the process.
   	 </p>
   	   <p th:text="${resetpasswordlink}">	  
   	   <a th:href="@{${resetpasswordlink}}"> </a>	
   	 </p>
   	 <br/>	    	
   	  <p>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 <span style="color:black;">Mobile : +10292982929229</span>
   	 </p>
   	<img th:src="|cid:bankIcon|" />
    
</body>
</html>