
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
  
<body>
<!-- #{}for reading from properties file -->
<!-- ${} for reading from variable -->
      <span th:text="#{customer_save_email.gretting(${name})}"></span>,
      	 <br/>	    
     	 
   	 <br/>	    	
   	    <p th:text="${message}"></p>
   	  <p>	 
   	   <br/>	  <br/>	  <br/>	  <br/>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 Mobile :<span style="color:black;"  th:text="${mobile}"></span>
   	 </p>
   	 	  <img src="sample.png" th:src="|cid:${bankIcon}|" />
    
</body>
</html>
