<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
			p{
				font-family: 'Open Sans', sans-serif;
			}
	</style>
</head>
  
<body>
<!-- #{}for reading from properties file -->
<!-- ${} for reading from variable -->

Your one time password is:
   	   <p style="color:red;font-size: large;" th:text="${otp}"></p>
   	 <br/>	    	


   	  <p>	 
   	 Thanks & Regards,
   	 </p>
   	 <p style="font-family: 'Open Sans', sans-serif;font-weight: bold;color:red;">
   	 DesiBank Admin<br/><br/>
   	 Mobile :<span style="color:black;"  th:text="${mobile}"></span>
   	 </p>
   	 	  	 <br/>
	 <img th:src="|cid:bankIcon|" />
    
</body>
</html>